@charset "UTF-8";

.attribution { font-size: 11px; text-align: center; color: white; }
.attribution a { color: hsl(228, 45%, 44%); }
*{
    padding: 0px;
    margin: 0px;
}
body,html{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #070708;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 320px;
    width: 250px;
    border-radius: 20px;
    padding: 20px;
    color: white;
    background: linear-gradient(to top,#0C0E11,#14181E);
}
.star{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:#313b44;
}
#istar{
    height: 15px;
    width: 15px;
}

.title{
    font-weight: bold;
    font-size: 16pt;
}
.txt{
    color: gray;
}
#ibtn-num{
    display: flex;
    justify-content: space-between;
}
.btn-num{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: rgb(218, 213, 213);
    font-weight: bold;
    cursor: pointer;
    background-color: #606B7B;    
}
.btn-num:hover{

    background-color: gray;
    color: white;
    transition: 0.4s;
}
.btn-submit {
    height: 35px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    background-color: #C95212;
    outline: none; /* Remova a borda de foco padrão */
}

.btn-submit:hover {
    background-color: white;
    color: #C95212;
}

.ranting{
    align-self: center;
    width: 170px;
    padding: 5px;
    border-radius: 15px;
    font-size: 11pt;
    text-align: center;
    color: #C95212;
    background-color: #313b44;
}
#thankyou{
    align-self: center;
    width: 150px;
}

.second{
    display: none;
}

